# LLM
MODEL_KEY=
MODEL_URL=https://api.openai.com/v1
MODEL_NAME=gpt-4o

# Data
INPUT_PATH=LLMLabel/data/raw/texts.jsonl
OUTPUT_PATH=LLMLabel/data/output/classified.jsonl

# LLM Label
SAMPLE_SIZE=10000
CATEGORIES=正例,负例
INSTRUCTION=
